{{ ansible_managed | comment }}

{% if item.value | map(attribute='auto', default=true) is any %}
auto {{ item.key }}
{% endif %}

{% for entry in item.value %}
iface {{ item.key }} {{ entry.family | default('inet6', true) }} {{ entry.method | default('auto', true) }}
{% for key in ['description', 'address', 'netmask', 'network', 'broadcast', 'gateway', 'mtu', 'wpa-conf'] %}
{%   if key in entry %}
  {{ key }} {{ entry[key] }}
{%   endif %}
{% endfor %}

{%- if entry.nameservers is defined %}
  dns-nameservers {{ entry.nameservers | join(' ') }}
{% endif %}
{%- if entry.dns_search is defined %}
  dns-search {{ entry.dns_search }}
{% endif %}

{%- if entry.subnets is defined %}

  # additional subnets
{%   for subnet in entry.subnets %}
  up /sbin/ip addr add {{ subnet }} dev {{ item.key }}
  down /sbin/ip addr del {{ subnet }} dev {{ item.key }}
{%   endfor %}
{% endif %}

{%- if entry.bridge is defined -%}

  # bridge settings
{%   for key in ['ports', 'stp', 'fd', 'maxwait', 'waitport'] %}
{%     if key in entry.bridge -%}
  bridge_{{ key }} {{ entry.bridge[key] }}
{%     endif %}
{%   endfor %}
{% endif %}

{%- if entry.vlan is defined -%}

  # vlan
{%     for key in ['id', 'raw-device'] %}
{%       if key in entry.vlan %}
  vlan-{{ key }} {{ entry.vlan[key] }}
{%     endif %}
{%   endfor %}
{% endif %}

{%- if ['pre-up', 'up', 'post-up', 'pre-down', 'down', 'post-down'] | intersect(entry.keys()) %}

  # hook scripts
{%   for key in ['pre-up', 'up', 'post-up', 'pre-down', 'down', 'post-down'] %}
{%     if key in entry %}
{%       for value in entry[key] %}
  {{ key }} {{ value }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}

{% endfor %}