{% macro render_default(variable, default) -%}
{% if variable is defined %}
{{- variable -}}
{% else %}
{{- default -}}
{% endif %}
{%- endmacro %}
{% macro render_additional_addresses(subnet_list) -%}
{% if subnet_list is defined %}
  # additional subnets
{%   for subnet in subnet_list %}
  up /sbin/ip addr add {{ subnet }} dev {{ __interfaces_primary_device }}
  down /sbin/ip addr del {{ subnet }} dev {{ __interfaces_primary_device }}
{%   endfor %}
{% endif %}
{%- endmacro %}
{% macro render_hooks(hooks) -%}
{% if hooks is defined %}
{% if ['pre-up', 'up', 'post-up', 'pre-down', 'down', 'post-down'] | intersect(hooks) %}
  # hooks
{%   for key in ['pre-up', 'up', 'post-up', 'pre-down', 'down', 'post-down'] %}
{%     if key in hooks %}
{%       for value in hooks[key] %}
  {{ key }} {{ value }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
{% endif %}
{%- endmacro %}

{%- set ipv6_address = render_default(interfaces_primary_ipv6_address, __interfaces_primary_ipv6) %}
{% set ipv6_method = render_default(interfaces_primary_ipv6_method, __interfaces_primary_ipv6_method) %}
{% set ipv4_address = render_default(interfaces_primary_ipv4_address, __interfaces_primary_ipv4) %}
{% set ipv4_method = render_default(interfaces_primary_ipv4_method, __interfaces_primary_ipv4_method) %}
{% if ipv6_address %}
{% set network_info = interfaces_primary_network_info | default(lookup('scc_net.network.netdb_interface_config', ipv6_address)) %}
{% elif ipv4_address %}
{% set network_info = interfaces_primary_network_info | default(lookup('scc_net.network.netdb_interface_config', ipv4_address)) %}
{% endif %}
{{ ansible_managed | comment }}

{% if interfaces_primary_auto | default(true) %}
auto {{ __interfaces_primary_device }}
{% endif %}

{% if ipv6_method == 'static' and ipv6_address %}
iface {{ __interfaces_primary_device }} inet6 static
  address {{ ipv6_address }}/{{ render_default(interfaces_primary_ipv6_netmask, (network_info.v6.cidr | ansible.utils.ipaddr('prefix'))) }}
  gateway {{ render_default(interfaces_primary_ipv6_gateway, network_info.v6.gateway) }}

{{ render_additional_addresses(interfaces_primary_ipv6_additional_subnets) -}}
{{ render_hooks(interfaces_primary_ipv6_hooks) -}}
{% elif ipv6_method == 'auto' %}
iface {{ __interfaces_primary_device }} inet6 auto
{% endif %}

{% if ipv4_method == 'static' and ipv4_address %}
iface {{ __interfaces_primary_device }} inet static
  address {{ ipv4_address }}/{{ render_default(interfaces_primary_ipv4_netmask, (network_info.v4.cidr | ansible.utils.ipaddr('prefix'))) }}
  gateway {{ render_default(interfaces_primary_ipv4_gateway, network_info.v4.gateway) }}

{{ render_additional_addresses(interfaces_primary_ipv4_additional_subnets) -}}
{{ render_hooks(interfaces_primary_ipv4_hooks) -}}
{% elif ipv4_method == 'dhcp' %}
iface {{ __interfaces_primary_device }} inet dhcp
{% endif %}
