{% macro render_nameserver(nameserver_list) -%}
{% for nameserver in nameserver_list %}
nameserver {{ nameserver }}
{% endfor %}
{%- endmacro %}
{{ ansible_managed | comment }}

{% if not lookup('dig', ansible_fqdn, 'qtype=A') %}
{{- render_nameserver(resolvconf_nameserver_v6_only) -}}
{% else -%}
{{- render_nameserver(resolvconf_nameserver) -}}
{% endif %}

{% if resolvconf_domain %}
domain {{ resolvconf_domain }}
{% endif %}
{% if resolvconf_search %}
search {{ (resolvconf_search_default + resolvconf_search) | unique | join(' ') }}
{% endif %}
{% for sortlist in resolvconf_sortlist %}
sortlist {{ sortlist }}
{% endfor %}
{% for option in resolvconf_option %}
options {{ option }}
{% endfor %}
