{{ ansible_managed | comment }}

auto lo
iface lo inet loopback

source {{ interfaces_d_path }}/*
{% if interfaces_create_custom_directory | bool %}
source {{ interfaces_custom_d_path }}/*
{% endif %}
